{% extends 'StadlineFrontBundle::layout.html.twig' %}

{% block title %}Stadline - Log StructurePhase{% endblock %}

{% block header_title %}Listing Logs StructurePhase{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <table id="tableFactures" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Date </th>
                    <th>R&eacute;f</th>
                    <th>présence d'erreur</th>
                    <th>Mise à jour</th>
                </tr>
                </thead>
                <tbody>
                {% for data in datas %}
                    {%  if data.erreur == "erreur montant" %}
                        <tr>
                            <td> {{ data.date }}</td>
                            <td> {{ data.refAffaire }}</td>
                            <td> {{ data.erreur }}</td>
                            <td> {{ data.maj }}</td>
                        </tr>
                    {% endif %}
                {%  endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/stadlinefront/lib/jquery/jquery.datatable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/stadlinefront/js/factures.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/stadlinefront/lib/jquery/jquery.datatable.min.css') }}" />
{% endblock %}
