{% extends 'StadlineFrontBundle::layout.html.twig' %}

{% block title %}Stadline - Log{% endblock %}

{% block header_title %}Listing Logs{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">





            <table id="tableFactures" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>R&eacute;f</th>
                    <th>Date</th>
                    <th>présence d'erreur</th>
                    <th>Mise à jour</th>
                </tr>
                </thead>
                <tbody>
                {% set compt = -1 %}
                {% for d in RefAffaire %}
                    {% set compt = compt + 1 %}

                    <tr>
                        <td>{{ d }}</td>
                        <td>{{ date[compt] }}</td>
                        <td>{{ erreur[compt] }}</td>
                        <td style="text-align: right;">{{ maj[compt] }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/stadlinefront/lib/jquery/jquery.datatable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/stadlinefront/js/factures.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/stadlinefront/lib/jquery/jquery.datatable.min.css') }}" />
{% endblock %}
