{% extends 'StadlineFrontBundle::layout.html.twig' %}

{% block title %}Stadline - Listing Factures{% endblock %}

{% block header_title %}Listing Factures{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

                <p style="font-size: large"> {{ nom_contact }} </p>



            <table id="tableFactures" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Réf</th>
                        <th>Etat</th>
                        <th>Date Emission</th>
                        <th>Montant</th>
                        {#<th>Télécharger</th>#}
                    </tr>
                </thead>
                <tbody>
                {% set compt = -1 %}
                    {% for f in factures %}
                        {% set compt = compt + 1 %}
                        <tr>
                            <td>{{ f.ref_doc }}</td>
                            <td>{% if f.etat_doc == 19 %}
                                    <p> Acquittée </p>
                                {%  elseif f.etat_doc == 18 %}
                                    <p>à régler</p>
                                {%  elseif f.etat_doc == 17 %}
                                    <p>Annulée</p>
                                {%  elseif f.etat_doc == 16 %}
                                    <p>en Saisie</p>
                                {% else %}
                                    {{  f.etat_doc }}
                                {%  endif %}
                            </td>
                            <td> {{ f.date_creation_doc|date("m/d/Y") }}</td>
                            <td style="text-align: right;">
                                {% if f.__detail.montant_ttc is not defined %}
                                {{ '-' }}
                                {% else %}
                                    {{ f.__detail.montant_ttc|number_format(2, '.', ' ') }}&euro;
                                {% endif %}
                            </td>


                            {#<td>#}
                                {#<a href="{{url("stadline_front_facture_pdf", { "refDocEncrypt" : refDocEncrypt[compt] })}}" class="btn btn-info btn-small">#}
                                    {#<i class="glyphicon glyphicon-download-alt"></i>#}
                                {#</a>#}
                            {#</td>#}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/stadlinefront/lib/jquery/jquery.datatable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/stadlinefront/js/factures.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/stadlinefront/lib/jquery/jquery.datatable.min.css') }}" />
{% endblock %}