{% extends 'StadlineFrontBundle::layout.html.twig' %}

{% block title %}Stadline - Listing Contacts{% endblock %}

{% block header_title %}Listing Contacts{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <table id="tableFactures" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Name</th>
                    <th>Hashed Ref</th>
                    <th>Sugar Account ID</th>
                    <th>Zendesk ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.ref }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.hashedRef }}</td>
                    <td>{{ entity.sugarAccountId }}</td>
                    <td>{{ entity.zendeskOrganizationId }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('contact_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contact_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/stadlinefront/lib/jquery/jquery.datatable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/stadlinefront/js/factures.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/stadlinefront/lib/jquery/jquery.datatable.min.css') }}" />
{% endblock %}