{% extends 'StadlineFrontBundle::layout.html.twig' %}

{% block title %}Stadline - Show Contact{% endblock %}

{% block header_title %}Show Contact{% endblock %}

{% block content %}

    <div id="back">
        <a href="{{ path('contact') }}"> Back to the contact list </a>
    </div>

    <div class="row">
        <div class="col-lg-12 margin-top">
            <table id="tableFactures" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Ref</th>
                    <th>Name</th>
                    <th>Hashed Ref</th>
                    <th>Sugar Account ID</th>
                    <th>Zendesk ID</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ entity.ref }}</td>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.hashedRef }}</td>
                        <td>{{ entity.sugarAccountId }}</td>
                        <td>{{ entity.zendeskOrganizationId }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="action_show">
        <a href="{{ path('contact_edit', { 'id': entity.id }) }}"><button id="form_edit" class="btn-default btn"> Edit </button></a>
        {{ form(delete_form) }}
    </div>
{% endblock %}
