{% extends 'StadlineFrontBundle::layout.html.twig' %}

{% block title %}Stadline - Show Contact{% endblock %}

{% block header_title %}Show Contact{% endblock %}

{% block content %}

    <div id="back">
        <a href="{{ path('contact') }}"> Back to the list </a>
    </div>

    <div id="show">
        <table class="record_properties">
            <tbody>
            <tr>
                <th class="th_show">Ref</th>
                <td>{{ entity.ref }}</td>
            </tr>
            <tr>
                <th class="th_show">Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th class="th_show">Hashedref</th>
                <td>{{ entity.hashedRef }}</td>
            </tr>
            <tr>
                <th class="th_show">Sugaraccountid</th>
                <td>{{ entity.sugarAccountId }}</td>
            </tr>
            <tr>
                <th class="th_show">Zendeskorganizationid</th>
                <td>{{ entity.zendeskOrganizationId }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="action_show">
        <a href="{{ path('contact_edit', { 'id': entity.id }) }}"><button id="form_edit" class="btn-default btn"> Edit </button></a>
        {{ form(delete_form) }}
    </div>
{% endblock %}
