{% extends 'StadlineFrontBundle::layout.html.twig' %}

{% block content %}
    <div id="factures">
        <a href="http://lundimatin.local/app_dev.php/factures/{{ hash_ref }}">Voir mes factures</a>
    </div>
    <div>
        <a href="https://{{ zendesk_domain }}.zendesk.com/hc/fr/requests">Voir mes demandes</a>
    </div>
    <div>
        <h2> Vos Tickets :</h2>

        <div class="row">
            <div class="col-lg-12">
                <table id="tableFactures" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Sujet</th>
                        <th>Status</th>
                        <th>Echanges</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for clientTicket in clientTickets %}
                        <tr>
                            <td><a href="https://{{ zendesk_domain }}.zendesk.com/hc/fr/requests/{{ clientTicket.id  }}">{{ clientTicket.id }}</a></td>
                            <td>{{ clientTicket.subject }}</td>
                            <td>{{ clientTicket.status }}</td>
                            <td>{{ clientTicket.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

